@using Thalili.Models
@model AdminData
@{
    ViewBag.Title = "Labs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<main>
    <div class="labOwnerPage container-flud">
        <div class="row m-0">
            <div class="col-2 rightCont fixed-top">
                <div class="container-flud">
                    <img src="./Assets/imgs/Group 1005.png" alt="" style="width: 100%;">
                    <hr>
                    <ul class="list-group p-0 d-flex">
                        <li class="list-group-item px-0 border-0">
                            <a href="#" class="btn ps-0 w-100 text-end" onclick="active_Element(this)">
                                <i class="fa-solid fa-flask"></i>
                                <span>الطلبات الجارية</span>
                            </a>
                        </li>
                        <li class="list-group-item px-0 border-0">
                            <a href="#" class="btn ps-0 w-100 text-end" onclick="active_Element(this)">
                                <i class="fa-solid fa-shop"></i>
                                <span>المعامل</span>
                            </a>
                        </li>
                        <li class="list-group-item px-0 border-0">
                            <a href="#" class="btn ps-0 w-100 text-end" onclick="active_Element(this)">
                                <i class="fa-solid fa-flask"></i>
                                <span>التحاليل</span>
                            </a>
                        </li>
                        <li class="list-group-item px-0 border-0">
                            <a href="#" class="btn ps-0 w-100 text-end" onclick="active_Element(this)">
                                <i class="fa-solid fa-users-gear"></i>
                                <span>المستخدمين</span>
                            </a>
                        </li>
                        <li class="list-group-item px-0 border-0" style="position: absolute; bottom: 3vh;">
                            <a href="/LabDashboard/LogOut" class="btn ps-0 w-100 text-end">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <span>تسجيل الخروج</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-2"></div>
            <div class="col-10 leftCont pt-3 pe-3">
                <i class="fa-solid fa-shop leftsvg"></i>
                <h3 class="h3 d-inline lefth3 ">المعامل</h3>
                <small class="d-block pb-3">المعامل</small>
                <div class="leftCont-all">
                    <div class="container pt-2 pb-5">
                        <div>
                            <p class="section-address">الطلبات الحديثة</p>
                            <div class="row table-head text-center">
                                <div class="col">معرف الطلب</div>
                                <div class="col">اسم المعمل</div>
                                <div class="col">اسم صاحب المعمل</div>
                                <div class="col">العنوان</div>
                                <div class="col">البريد الالكتروني</div>
                                <div class="col">رقم الهاتف الخاص</div>
                                <div class="col"></div>
                            </div>

                                @for (int i = 0; i < Model.request.Count(); i++)           
                                {

                            <div class="row talabt-item text-center" id="Admin-Lab-item-1">

                                <div class="col" id="LabID">@Model.request[i].requst_ID</div>
                                <div class="col">@Model.request[i].name</div>
                                <div class="col">@Model.request[i].owner_name</div>
                                <div class="col">@Model.request[i].location</div>
                                <div class="col">@Model.request[i].email</div>
                                <div class="col">@Model.request[i].phone_number</div>
                                <div class="col d-flex flex-column h-100 justify-content-around talabt-item-buttons align-items-center">
                                    <div class="row">
                                        <button name="" class="btn btn-primary px-2 w-auto" data-bs-toggle="modal" data-bs-target="#AcceptLabOrder">قبول الطلب&nbsp;<i class="fa-solid fa-angle-left"></i></button>
                                        <input type="hidden" name="Request_id" value="@Model.request[i].requst_ID" />
                                        <button name="" class="btn btn-danger px-2 mt-2 w-auto" data-bs-toggle="modal" data-bs-target="#RefuseLabOrder">رفض الطلب&nbsp;<i class="fa-solid fa-angle-left"></i></button>
                                    </div>
                                </div>
                            </div>
                                }
                            <div>
                                <p class="section-address">المعامل المشتركة</p>

                                @{int curent = Convert.ToInt32(ViewData["page"]);
                                }
                                @for (int i = (curent - 1) * 4; i < Math.Min(Model.LabList.Count(), 4 * curent); i++)
                                {
                                    <div class="row admin-lab-item py-3 mb-3">
                                        <div class="w-auto">
                                            <img src="" alt="">
                                        </div>
                                        <div class="col me-2">
                                            <div class="row lab-name">
                                                <div class="col">
                                                    <p>@Model.LabList[i].name</p>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col">
                                                    <div class="row justify-content-center">
                                                        <div class="col lab-label">اسم صاحب المعمل</div>
                                                        <div class="col lab-value">@Model.LabList[i].lab_owner.name</div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col lab-label">رقم الهاتف</div>
                                                        <div class="col lab-value">@Model.LabList[i].phone_number</div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col lab-label">البريد الالكتوني</div>
                                                        <div class="col lab-value">@Model.LabList[i].lab_owner.email</div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="row justify-content-center">
                                                        <div class="col lab-label">العنوان</div>
                                                        <div class="col lab-value">@Model.LabList[i].location</div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col lab-label">التقييم</div>
                                                        <div class="col lab-value">@Model.LabList[i].lab_rating</div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="row justify-content-center">
                                                        <button type="button" class="btn btn-primary w-auto">التحاليل المتوفرة</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="modal" id="AcceptLabOrder">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">قبول المعمل</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" style="position: absolute; left: 1rem;"></button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <i class="fa-solid fa-circle-check d-flex" style="width:2rem; height:2rem;color: #43AF5C;"></i>
                                                <p class="d-flex w-auto"> هل انت متأكد انك تريد قبول المعمل</p>
                                            </div>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <a class="btn btn-primary" data-bs-dismiss="modal">لا</a>
                                            <form action="" method="post" id="YesAccept">
                                                <input type="hidden" name="" value="" />
                                                <button id="YesAcceptbtn" type="submit" form="YesAccept" class="btn btn-primary">نعم</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="RefuseLabOrder">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">رفض المعمل</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" style="position: absolute; left: 1rem;"></button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <i class="fa-solid fa-circle-check d-flex" style="width:2rem; height:2rem;color: #43AF5C;"></i>
                                                <p class="d-flex w-auto"> هل انت متأكد انك تريد رفض المعمل</p>
                                            </div>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <a class="btn btn-primary" data-bs-dismiss="modal">لا</a>
                                            <form action="/Admin/RefuseRequest" method="post" id="YesAccept">
                                                <input type="hidden" />
                                                <button id="YesAcceptbtn" type="submit" form="YesAccept" class="btn btn-primary">نعم</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav class="paginat mt-4 mb-3">
                                <ul class="d-flex justify-content-center" style="list-style:none;">
                                    @for (int i = 1; i <= Math.Ceiling((Model.LabList.Count() * 1.0) / 4); i++)
                                    {


                                        if (i == curent)
                                        {
                                            <li class="page_item active" aria-current="page">
                                                <span class="page_link">@i</span>
                                            </li>
                                        }
                                        else
                                        {
                                            string pagination = Request.QueryString["page"];
                                            if (pagination == null)
                                            {
                                                <li class="page_item "><a class="page_link" href="@Request.Url.AbsoluteUri?page=@i">@i</a></li>     
                                            }
                                            else
                                            {
                                                string link = Request.Url.AbsoluteUri;
                                                string newLink = "";
                                                for (int j = 0; j < link.Length - 1; j++)
                                                {
                                                    newLink += link[j];
                                                }
                                                newLink += i.ToString();
                                            <li class="page_item "><a class="page_link" href="@newLink">@i</a></li>
                                            }
                                        }


                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

