@using Thalili.Models
@model List<analysis_in_lab>
@{
    ViewBag.Title = "analysis";
}
<div class="search_section py-5">
    <div class="container">
        <div class="row position-relative">
            <form action="/Search" method="get">
                <div class="col-xxl-12 col-xl-10 col-lg-8 ">
                    <input class="col-6" type="search" name="searchField" id="mainPage-searchField"
                           placeholder="ابحث عن تحاليل او معامل">
                    <input type="submit" name="submitBtn" value="" id="mainPage-submitBtn">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="main-section-result">
    <div class="container">
        <div class="row">
            <main class="right-section p-4 ms-lg-2 me-lg-2 col-lg-8 col-md-12">
                <div class="row mb-4">
                    <div class="lab-res-pic col-4">
                        <img class="inner-img" src="https://source.unsplash.com/random/400x400" alt="lab_pic">
                    </div>
                    <div class="col-8">
                        <h1 class="search-title">@Model.FirstOrDefault().medical_analysis.name</h1>
                        <p class="search-description">
                            @Model.FirstOrDefault().medical_analysis.description
                        </p>
                        <h2 class="tags-title">العينات المطلوبة</h2>
                        @foreach (var sample in Model.FirstOrDefault().medical_analysis.samples.ToList())
                        {

                            <div class="tags d-flex">
                                <div class="tag">
                                    <a href="#">@sample.sample_name</a>
                                </div>

                            </div>
                        }
                    </div>
                </div>
                <div class="search_analysis">
                    <h3 class="search-title mb-3" style="color: #C7C7C7">المعامل التي توفر التحليل</h3>
                    <div class="row position-relative">
                        <form action="/Analysis_and_Labs/SearchLab" method="get">
                            <div class="col-xxl-12 col-xl-10 col-lg-8 mb-4">
                                <input type="hidden" name="AnalysisID" value="@Model.FirstOrDefault().medical_analysis_id">
                                <input class="col-6" type="search" name="Labname" id="mainPage-searchField"
                                       placeholder="ابحث في المعامل">
                                <input type="submit" name="submitBtn" value="" id="mainPage-submitBtn">

                            </div>
                        </form>
                    </div>
                </div>
                <section class="other-results">
                    @{int curent = Convert.ToInt32(ViewData["page"]);
                    }
                    @for (int i = (curent - 1) * 4; i < Math.Min(Model.Count(), 4 * curent); i++)
                    {
                        <div class="item row pt-3 pb-3 mb-3">
                            <div class="picture col-lg-3 col-md-12">
                                <img src="https://images.unsplash.com/photo-1646237355884-8d55ef342c90?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NzYzNjgzMA&ixlib=rb-1.2.1&q=80&w=400" height="200" width="200" alt="analysis picture">
                            </div>
                            <div class="content col-lg-6 col-md-12">
                                <h3 class="title">@Model[i].lab.name</h3>
                                <div class="rating mb-2" style="word-spacing: -10px;">
                                    @for (int j = 0; j < Model[i].lab.lab_rating; j++)
                                    {
                                        <i class="fa fa-star"></i>
                                    }

                                    <span>@Model[i].lab.reviews.Count()</span>
                                </div>
                                <div class="waiting-time mb-2"><i class="fa-solid fa-stopwatch"></i>استجابة الطلبات خلال <span>20 دقيقة</span></div>
                                <div class="description mb-2"><i class="fa fa-location-dot"></i>@Model[i].lab.location </div>

                            </div>

                            <div class="mb-3 col-lg-3 col-md-12">
                                <div class="more-details">
                                    <div class="add-cart p-2 bd-highlight">
                                        <form action="/Analysis_and_Labs/AddToCart" method="post" id="">
                                            <input class="btn btn-primary add-to-cart" type="submit" name="" value="إضافة الي القائمة" />
                                            <input type="hidden" name="analysis_id" value="@Model[i].medical_analysis_id" />
                                            <input type="hidden" name="lab_id" value="@Model[i].Labs_id" />
                                        </form>
                                    </div>
                                    <div class="price p-2 bd-highlight">
                                        <span class="currency">EGP</span>
                                        <p class="total-price">@Model[i].price</p>
                                        <span class="phase">التكلفة الكلية</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    }

                </section>
                <nav class="paginat mt-4 mb-3">
                    <ul class="d-flex justify-content-center" style="list-style:none;">
                        <li class="page_item_arrow"><i class="fa-solid fa-angle-right"></i></li>
                        @for (int i = 1; i <= Math.Ceiling((Model.Count() * 1.0) / 4); i++)
                        {
                            if (i == curent)
                            {
                                <li class="page_item active" aria-current="page">
                                    <span class="page_link">@i</span>
                                </li>
                            }
                            else
                            {
                                string pagination = Request.QueryString["page"];
                                string Labname = Request.QueryString["Labname"];

                                if (pagination == null)
                                {
                                    if (Labname == null)
                                    {
                                        <li class="page_item"><a class="page_link" href="@Request.Url.AbsoluteUri?page=@i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li class="page_item"><a class="page_link" href="@Request.Url.AbsoluteUri&page=@i">@i</a></li>

                                    }
                                }
                                else
                                {
                                    string link = Request.Url.AbsoluteUri;
                                    string newLink = "";
                                    for (int j = 0; j < link.Length - 1; j++)
                                    {
                                        newLink += link[j];
                                    }
                                    newLink += i.ToString();
                                    <li class="page_item"><a class="page_link" href="@newLink">@i</a></li>
                                }

                            }


                        }



                        <li class="page_item_arrow"><i class="fa-solid fa-angle-left"></i></li>
                    </ul>
                </nav>

            </main>

            <aside class="left-section p-4 ms-lg-2 me-lg-2 col-lg-3 col-md-12">
                <h2 class="side-title">التصفيات</h2>
                <p class="side-title-description">2 من التصفيات مطبقة</p>
                <form class="filter-from" action="/Analysis_and_Labs/Labsfilter" method="get" id="filtterForm">
                    <input type="hidden" name="analysis_id" value="@Model.FirstOrDefault().medical_analysis_id" />
                    <div class="section-aside mb-3">
                        <h3 class="title">
                            الفئة السعرية
                        </h3>
                        <div class="row justify-content-between" style="position: relative;">
                            <div class="col-12">
                                <input type="radio" id="filterChoice" name="filterPrice" value="1" checked>
                                <label class="choice" for="filterChoice">الكل</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" id="filterChoice" name="filterPrice" value="2">
                                <label class="choice" for="filterChoice">100 - 50 </label><br />

                                <input type="radio" id="filterChoice" name="filterPrice" value="3" >
                                <label class="choice" for="filterChoice">200 - 100 </label><br />

                                <input type="radio" id="filterChoice" name="filterPrice" value="4" >
                                <label class="choice" for="filterChoice">300 - 200 </label><br />

                                <input type="radio" id="filterChoice" name="filterPrice" value="5" >
                                <label class="choice" for="filterChoice">+300</label><br />

                            </div>
                        </div>
                    </div>
                   
                    <div class="rate-filter section-aside mb-3">
                        <h3 class="title">
                            التقييم
                        </h3>
                        <div class="row justify-content-between" style="position: relative;">
                            <div class="col-12">
                                <input type="radio" id="filterRating" name="filterRating" value="6" checked>
                                <label class="choice" for="filterNear">الكل </label>
                            </div>
                            <div class="col-12">
                                <input type="radio" id="filterRating" name="filterRating" value="5">
                                <label class="choice" for="filterRating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </label>
                            </div>

                            <div class="col-12">
                                <input type="radio" id="filterRating" name="filterRating" value="4">
                                <label class="choice" for="filterRating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </label>
                            </div>

                            <div class="col-12">
                                <input type="radio" id="filterRating" name="filterRating" value="3">
                                <label class="choice" for="filterRating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </label>
                            </div>

                            <div class="col-12">
                                <input type="radio" id="filterRating" name="filterRating" value="2">
                                <label class="choice" for="filterRating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </label>
                            </div>

                            <div class="col-12">
                                <input type="radio" id="filterRating" name="filterRating" value="1">
                                <label class="choice" for="filterRating">
                                    <i class="fa fa-star"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary mt-5" type="submit" name="" value="تطبيق">تطبيق</button>
                    </div>
                </form>

            </aside>
        </div>
    </div>
</div>
        


